/*
 * File: styles.css
 * Author: Justin Shiiba
 *
 * Global styles for Portfolio web page
 *
 */




@font-face {
	font-family: BebasNeue;
	src:url("../fonts/BebasNeue.otf");
}

@font-face {
	font-family: UbuntuMono;
	src:url("../fonts/UbuntuMono-R.ttf");
}

/* clear fix */
.clear:after 
{
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

html, body
{
	height: 100%;
	width: 100%;
}

body
{
	font-size: 16px;
	color:black;
	font-family: "proxima-nova", Helvetica Neue, Helvetica, Arial, sans-serif;
}

#container 
{
	width:960px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1, h2, h3, h4 
{
	padding: 10px 0 10px 0;
}

h1
{
	font-size: 90px;
}

h2
{
	font-size: 70px;
}

h3
{
	font-size: 30px;
}

h4
{
	font-size: 20px;
}

.left
{
	float:left;
}

.right 
{
	float:right;
}

section 
{
	height: 100%;
	width: 100%;
}

.vertical-text
{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vertical-text h1
{
  font-weight: 200px;
  color:#D08360;
  font-family: BebasNeue;
}

.vertical-text h2
{
  font-weight: 200px;
  color:#D08360;
  font-family: BebasNeue;
}

.highlight
{
	color: #9DBE8C;
}

.red_highlight
{
	color: #BF6167;
}

.container
{
	width: 1180px;
	margin: 0 auto;
}

.container h2
{
	text-align: center;
	margin-top: 50px;
	color: #D08360;
	font-family: BebasNeue;
}

p
{
	font-size: 22px;
}

/*********************************/
/* NAV */
nav 
{
	width:100%;
	margin: 0 auto;
	background-color: #1C1F26;
	position: fixed;
	top: 0px;
}

nav ul li 
{
	float:right;
}

nav ul li a 
{
	display:block;
	padding: 30px 50px 0px 50px;
	height:50px;
	color:#C0C5C4;
	text-decoration:none;
	margin: 0 0 0 0px;
	font-family: Helvetica;
}

a.current
{
	background-color: #2B303B;
}

nav ul li a:hover
{
	color:white;
}
/*********************************/


/*********************************/
/* INTRO SECTION */
#intro
{
	background-color: #2B303B;
	display: table;
}


/*********************************/
/* ABOUT SECTION */
#about
{
	background-color: #9DBE8C;
	display: table;
}

#about .right 
{
	width: 300px;
}

#about .left 
{
	width: 750px;
}

#about h2
{
	color: white;
}

#about img
{
	width:300px;
	border: 2px solid white;
}

#about p 
{
	font-size: 22px;
	line-height: 30px;
	color: white;
}

/*********************************/
/* PORTFOLIO SECTION */
#portfolio
{
	background-color: white;
	height:auto;
}

.projects
{
	margin: 40px 0 40px 0;
}

.project_img
{
	width: 300px;
	height: 300px;
	border: 2px solid black;
}

.project_description
{
	width: 750px;
}

.project_description h3
{
	color: black;
}

#portfolio p 
{
	line-height: 35px;
	font-size: 20px;
}

.flat-button{
text-align:center;
text-decoration: none;
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 150%;
color: #FFF;
background: #BF6167;
padding: 20px 60px;
display: inline-block;
white-space: nowrap;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 10px 0;
-webkit-transition: all 0.2s ease-in-out;
-ms-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
margin-top: 40px;
}

.flat-button:hover
{

}

/*********************************/
/* RESUME SECTION */
#resume
{
	background-color: #2B303B;
	display: table;
}

#resume a
{
	color: #BF6167;
}

#resume a:hover
{
	font-weight: bold;
}


/*********************************/
/* CONTACT */
#Contact
{
	background-color: white;
}

/*********************************/
