
@font-face {
	font-family: BebasNeue;
	src:url("../fonts/BebasNeue.otf");
}

@font-face {
	font-family: UbuntuMono;
	src:url("../fonts/UbuntuMono-R.ttf");
}

/* clear fix */
.clear:after 
{
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body
{
	/*background-color: #C0C5C4;*/
	background-color: #2B303B;
	font-size: 18px;
	color:#C0C5C4;
	font-family: Helvetica;
}

#container 
{
	width:960px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1, h2, h3, h4 
{
	padding: 10px 0 10px 0;
}

h1
{
	font-size: 60px;
}

h2
{
	font-size: 42px;
}

h3
{
	font-size: 24px;
}

h4
{
	font-size: 20px;
}

.left
{
	float:left;
}

.right 
{
	float:right;
}


/*********************************/
/* NAV */

#nav_container
{
	background-color: #1C1F26;	
}

nav 
{
	width:960px;
	margin: 0 auto;
}

nav ul li 
{
	float:right;
}

nav ul li a 
{
	display:block;
	padding: 30px 50px 0px 50px;
	height:50px;
	color:#C0C5C4;
	text-decoration:none;
	margin: 0 0 0 0px;
	font-family: Helvetica;
}

a.current
{
	background-color: #2B303B;
}

nav ul li a:hover
{
	color:white;
}
/*********************************/



/*********************************/
/* FOOTER */
footer
{
	height: 50px;
	background-color: #1C1F26;	
}

/*********************************/



/****************************************************************************/
/* INDEX PAGE */



/*********************************/
/* MAIN SECTION */
.main_sec
{
	width: 480px;	
	/*height: 600px;*/
	margin-bottom: 50px;
}

#main_left
{

}

#main_right 
{
}

img#main_img 
{
	margin-top: 50px;
	margin-left: 80px;
	border: 1px solid black;
}

p#main_h1
{
	color: #D08360;
	font-family: BebasNeue;
	font-size: 60px;
	margin: -56px 0 0 110px;
}

p#main_def 
{
	font-family: UbuntuMono;
	color: #BF6167;
	font-size: 60px;
	margin: 100px 0 0 0px;
}

p#main_paren
{
	font-family: UbuntuMono;
	color: #BF6167;
	font-size: 60px;
	margin: -72px 0 0 400px;
}

div#main_list_box 
{
	margin: 30px 0px 0px 95px;
}

ul#main_list li
{
	color: #9DBE8C;
	font-family: BebasNeue;
	font-size: 45px;
	padding:10px;
}

p#main_end
{
	font-family: UbuntuMono;
	color: #BF6167;
	font-size: 60px;
	margin-top: 15px;
}
/*********************************/


/****************************************************************************/
/* RESUME PAGE */

#h1_resume
{
	color: #D08360;
	font-family: BebasNeue;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

h2.h2_resume
{
	font-size: 32px;
	color:#D08360;
	font-family: BebasNeue;
}

.resume_sect
{
	margin: 20px 0 20px 0;
}

#education_sec
{
	height: 275px;
	margin-top: 10px;
}

#education
{
	width:480px;
}

#coursework
{
	width:480px;
}

ul.course_list li
{
	padding: 5px 0 5px 0;
	list-style-type: circle;
	margin-left: 20px;
}

#experience
{

}

.exp
{
	padding:10px 0 5px 0;
}

.exp_company
{
	/*color:#BF6167;*/
}

span.company_name
{
	font-style: italic;
}

ul.exp_descrip
{
	margin-left: 50px;
}
 ul.exp_descrip li 
 {
 	padding: 5px 0 5px 0;
 	list-style-type: circle;
 }

h3.h3_resume
{
	color:#9DBE8C;
}

#skills
{

}

div.skill_div
{
	width: 460px;
}

ul.skill_list
{
	margin-left: 50px;
}

ul.skill_list li
{
 	padding: 5px 0 5px 0;
 	list-style-type: circle;
}

#activities
{

}

ul.act_list
{
	margin-left: 50px;
}

ul.act_list li
{
 	padding: 5px 0 5px 0;
 	list-style-type: circle;
}
/*********************************/



/****************************************************************************/
/* ABOUT PAGE */










